<aside class="col-lg-2 menu" data-menu="esconde">
  <span class="iconMenu"><i class="fa fa-navicon"></i></span>
  <ul>
      <li>
      
       </li>
      <li>
          Perfil &nbsp;&nbsp; <i class="fa fa-user"></i>
      </li>
      <li>
          Upload &nbsp;&nbsp; <i class="fa fa-upload"></i>
      </li>
      <li>
          Conta &nbsp;&nbsp; <i class="fa fa-user-circle"></i>	
      </li>
      <li>
          Em Alta &nbsp;&nbsp; <i class="fa fa-signal"></i>
      </li>
      <li>
          Gostei  &nbsp;&nbsp; <i class="fa fa-thumbs-up"></i>
      </li>
      
      <li>
      
      </li>
  </ul>
</aside>

<!-- MOBILE-->
<aside data-menuM="abreMobile" class="menuMobileBody">
      
      <ul>
         
          <li>
              Perfil &nbsp;&nbsp; <i class="fa fa-user"></i>
          </li>
          <li>
              Upload &nbsp;&nbsp; <i class="fa fa-upload"></i>
          </li>
          <li>
              Conta &nbsp;&nbsp; <i class="fa fa-user-circle"></i>
          </li>
          <li>
              Em Alta  &nbsp;&nbsp; <i class="fa fa-signal"></i>
          </li>
          <li>
              Gostei &nbsp;&nbsp; <i class="fa fa-thumbs-up"></i>
          </li>
         
      </ul>
</aside>